{% extends 'base.html.twig' %}

{% block title %}Admin - Ajouter publisher{% endblock %}

{% block body %}
    <main class="container d-flex align-items-center flex-column">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}
